body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 0;
}

#containnerHMP {
	width: 980px;
	border: 0px solid black;
	margin: 0 auto;
	padding-bottom: 0px; 
	background-color: #F5F5F5;
}

#brandHMP {
	width: 250px;
	padding-top: 100px;
	padding-bottom: 40px;
	margin: 0 auto;
}

#brandImageHMP img {
	width: 250px;
	height: auto;
	margin: 0 auto;
}

#brandSloganHMP {
	margin: 0 auto;
}

#brandSloganHMP p {
	text-align: center;
	color: #8dc741;
}

#signupLoginDivHMP {
	width: 268px;
	border: 0px solid black;
	margin: 0 auto;
}

#signupLoginBoxHMP {
	-webkit-padding-start: 0px;
}

#signupLoginBoxHMP li{
	width: 132px;
}

#signupLoginBoxHMP li a{
	text-align: center;
}

.zigzagHMP{
	width: 100%;  
	height: auto;
}

.serviceIntroductionHMP.center {
	background-image: url('../images/intro_bg.png');
	background-size: contain;
	width: 100%;
	height: 664px;
}

.serviceIntroductionBlockHMP {
	height: 220px;
	width: 700px;
	margin: 0 auto;
}

.serviceIntroductionBlockHMP.frst {
	height: 228px;
}

.serviceIntroductionBlockHMP.scnd {
	height: 213px;
}

.serviceIntroductionImgDiv {
	float: left;
}

.serviceIntroductionImgDiv.scnd {
	float: left;
}

.serviceIntroductionImgDiv.thrd {
	clear: both;
}

.serviceIntroductionImgDiv img{
	max-width: 200px; /* 넓이를 지정 */
	height: auto; /* 높이를 지정 */
}

.serviceIntroductionImgDiv.frst img{
	margin-top: 24px;
}

.serviceIntroductionImgDiv.scnd img{
	margin-top: 16px;
}

.serviceIntroductionImgDiv.thrd img{
	margin-top: 20px;
}

.serviceIntroductionTextDiv {
	float: left;
}

.serviceIntroductionTextDiv.frst {
	float: left;
}

.serviceIntroductionTextDiv.scnd {
	margin-right: 5px;
}

.serviceIntroductionTextDiv.scnd .page-header{
	padding-left: 0
}

.serviceIntroductionTextDiv.thrd {
	float: left;
}

.page-header {
	padding-bottom: 9px;
	padding-left: 15px;
	margin: 20px 0 0px;
	border-bottom: 0px;
	width: 515px;
}

.page-header h1{
	font-size: 25px;
}

.page-header p{
	font-size: 13px;
}

.serviceIntroductionIntroHMP p{
	text-align: center;
	color: #624119;
	font-weight:bold;
	letter-spacing: 1px;
}

.serviceIntroductionIntroHMP {
	width: 300px;
	height: 250px;
	padding-top: 80px;
	margin: 0 auto 0 auto;
}

#singleLeaf {
	width: 50px;
	height: 50px;
	margin-left: 125px;
	margin-right: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*.footer{
	width: 980px;
	margin: 0 auto 0 auto;
}*/

#footerHMP {
	/*position: absolute;*/
	margin-top: 300px;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	bottom: 0;
}
#footerHMP .text-muted {
	margin: 20px 0;
	text-align: center;
}

/* Custom tab CSS
----------------------------------------------
*/
.nav-tabs > li > a {
	margin-right: 0px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: #E7E7E7;
}

.tabBoxDivHMP {
	width: 100%;
	border: 0px solid black;
	background-color: white;
	padding: 8px 8px 50px 8px;
}

/*none alive tab*/
a {
	background: white;
}

/*tab border*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom-color: transparent;
}

/*first tab button*/
#signupTabHMP {
	margin-right: 4px;
}

.btn.btn-default {
    width: 100%;
}

.socialButton{
    width: 33.3333333%;
}

.socialButton > img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.bottomButtons > div{
    width: 33.3333333%;
    float: left;
}

.bottomButtons > p{
    text-align: center;
}