body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,arial;

}

.nvbrContainerHmp{
	padding:20px 20px;
	width:100%;
	position: fixed;
	z-index: 99;
	
}

.navbar-inverse {
	background-color: #222;
	border-color: #080808;
	border-radius: 3px;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
	border-color: #101010;
	font-family: "Times New Roman";
	font-size: 17px;
}

.navbar-inverse .navbar-brand {
	color:#DBDBDB;
	font-size: 30px;
	font-family: "Times New Roman";
}

.navbar-inverse .navbar-brand:hover{
	color: #F7F7F7;
}

.navbar-inverse .navbar-nav > li > a {
	color: #CECECE;
}



.carousel {
	/*position: relative;*/
	
	width: 100%;
}

.carousel-inner>.item>img{
	width:100%;
}

.carousel-caption{
	height: 100%;

}
/*
.crsBoxHmp{
	width: 100%;
	height: 50%;
	margin-top: 22%;
	border-radius: 8px;

	background: rgba(0, 0, 0, .4);
}
*/

/*mobile*/
@media(max-width: 768px){
	.crsBoxHmp{
		width: 100%;
		height: 100%;
		margin-top: 10%;
		border-radius: 8px;
		background: rgba(0, 0, 0, .0);
	}

	.crsBoxHmp.third {
		height: 100%;
		margin-top: 10%;
		background: rgba(0, 0, 0, .0);
	}

	.crsBoxTopicHmp.first {
		margin: 0;
		text-align: center;
		font-size: 87px;
	}

	.crsBoxContentsHmp.first {
		margin: 0;
		text-align: center;
		font-size: 25px;
		letter-spacing: 1px;
	}

	.crsBoxTopicHmp {
		font-size: 33px;

	}

	.crsBoxTopicHmp.second{
		text-shadow: 2px 2px 10px #000000;
		padding-top: 14%;
	}

	.crsBoxContentsHmp{
		font-size: 15px;
	}

	.crsBoxContentsHmp.second {
		font-size:20px;
	}



	.crsBoxTopicHmp.third {
		color: #FFFFFF;
		text-shadow: 2px 2px 10px black;
		padding-top: 23%;
	}

	.crsBoxContentsHmp.third {
		display: none;
	}




}

/*desktop*/
@media(min-width: 768px){
	.crsBoxHmp{
		width: 100%;
		height: 50%;
		margin-top: 10%;
		border-radius: 8px;
		background: rgba(0, 0, 0, .0);
	}

	.crsBoxHmp.second{
		/*padding-top: 3%;*/
	}

	.crsBoxHmp.third {
		height: 100%;
		margin-top: 10%;
		background: rgba(0, 0, 0, .0);
	}


	.crsBoxTopicHmp.first{
		margin: 0;
		text-align: center;
		font-size: 101px;
	}

	.crsBoxContentsHmp.first{
		margin: 0;
		text-align: center;
		font-size: 30px;
		letter-spacing:1px;
	}

	.crsBoxTopicHmp {
		font-size: 37px;
		text-shadow: 2px 2px 10px black;
	}
	.crsBoxTopicHmp.second{
		padding-top: 17%;
	}
	.crsBoxTopicHmp.third {
		padding-top: 24%
	}

	.crsBoxContentsHmp{
		font-size: 17px;
		text-shadow: 5px 5px 10px black;
	}

	.crsBoxContentsHmp.second {
		font-size:20px;
	}

	.crsBoxContentsHmp.third {
		display: none;
	}

	
}

@media(min-width: 970px){
	.crsBoxHmp{
		width: 100%;
		height: 50%;
		margin-top: 22%;
		border-radius: 8px;
		background: rgba(0, 0, 0, .4);
	}

	.crsBoxHmp.third {
		height: 100%;
		margin-top: 10%;
		background: rgba(0, 0, 0, .0);
	}

	.crsBoxTopicHmp.first{
		margin: 0;
		text-align: center;
		font-size: 83px;
		padding-top: 5%;
	}

	.crsBoxContentsHmp.first{
		margin: 0;
		text-align: center;
		font-size: 30px;
		letter-spacing:1px;
	}

	.crsBoxTopicHmp {
		font-size: 56px;
	}
	.crsBoxTopicHmp.third {
		padding-top: 7%;
		font-size: 46px;
	}
	.crsBoxTopicHmp.second{
		padding-top: 5%;
		font-size: 43px;
	}

	.crsBoxContentsHmp{
		font-size: 20px;
	}
	.crsBoxContentsHmp.second {
		font-size:20px;
	}

	.crsBoxHmp.third {
		background: rgba(0, 0, 0, .5);
		margin-top: 20%;
		height: 60%;
	}

	.crsBoxContentsHmp.third {
		display: block;
	}

	
}

@media(min-width: 1170px){
	.crsBoxHmp{
		width: 100%;
		height: 50%;
		margin-top: 22%;
		border-radius: 8px;
		background: rgba(0, 0, 0, .4);
	}

	.crsBoxHmp.third {
		height: 100%;
		margin-top: 10%;
		background: rgba(0, 0, 0, .0);
	}

	.crsBoxTopicHmp.first{
		margin: 0;
		text-align: center;
		font-size: 101px;
	}

	.crsBoxTopicHmp.second {
		padding-top: 5%;
		font-size: 56px;
	}

	.crsBoxTopicHmp.third{
		font-size: 57px;
	}

	.crsBoxContentsHmp.first{
		margin: 0;
		text-align: center;
		font-size: 30px;
		letter-spacing:1px;
	}

	.crsBoxTopicHmp {
		font-size: 56px;
	}

	.crsBoxContentsHmp{
		font-size: 20px;
	}

	.crsBoxContentsHmp.second {
		font-size:20px;
	}

	.crsBoxHmp.third {
		background: rgba(0, 0, 0, .5);
		height: 50%;
		margin-top: 22%;
	}

	.crsBoxContentsHmp.third {
		display: block;
	}


}
/*
.crsBoxHmp.third{
	background: rgba(0, 0, 0, .5);
}
*/

.crsBoxTopicHmp {
	text-align: left;
	color: #FDFDF4;
	font-family: Garamond;
	/*font-size: 56px;*/
	font-weight: bold;
	margin-top: 30px;
	margin-left: 50px;
	padding-top: 46px;
}

.crsBoxContentsHmp {
	text-align: left;
	color: #E6E6E0;
	font-family: Garamond;
	/*font-size: 20px;*/
	font-weight: bold;
	padding-top: 30px;
	margin-left: 50px;
}
/*
.crsBoxTopicHmp.first{
	margin: 0;
	text-align: center;
	font-size: 101px;
}
*/

/*
.crsBoxContentsHmp.first{
	margin: 0;
	text-align: center;
	font-size: 30px;
	letter-spacing:1px;
}
*/

.crsBoxTopicHmp.second{
	color: #F1EFED;
}

.crsBoxContentsHmp.second{
	color: #e6e6e6;
}

.crsBoxTopicHmp > p {
	margin: -18px 0;
}

.crsBoxTopicHmp.third{
	color: #F5F5F5;
}

.crsBoxContentsHmp.third{
	color: #F1F1F1;
}

.ctTowerHmp{
	width:86%;
	margin-left: auto;
	margin-right: auto;
}

.row{
	width:100%;
	padding-top: 60px;
	text-align: center;
	margin-left: 0;
	margin-right: 0;

}

.col-lg-4{
	color: #5a5a5a;
	text-align: center;
	width: 33.33333333%;
	min-width: 308px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

.featurette-divider {
	width:100%;
	margin: 40px auto 80px 
	auto;	
}

.mainBoxDivWrapHMP{
	position: relative;
	width: 100%;
}

.mainBoxDivWrapHMP:before{
	content: "";
	display: block;
	padding-top: 66%;
}

.mainBoxDivHMP{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


/*
	margin:0;

	width: 1160px;
	height: 770px;
	*/
	
}

.mainBoxDivHMP.first{
	background-image: url('../img/read2.png');
	background-size: 100%;
}

.mainBoxDivHMP.second{
	background-image: url('../img/assume2.png');
	background-size: 100%;
}

.mainBoxDivHMP.third{
	background-image: url('../img/writer2.png');
	background-size: 100%;
}

.mainBoxSemiColorHMP{
	width: 670px;
	height: 340px;
	/*border-radius: 8px;*/
	background: rgba(0, 0, 0, .4);
	padding:60px 30px 30px 30px;
}

.mainBoxDivHMP.first{
	padding-left: 0px;
	padding-top: 0px;
}

.mainBoxSemiColorHMP.first{
	width: 100%;
	height: 40%;
	min-height: 320px;
	background: rgba(0, 0, 0, .5);
}

.mainBoxDivHMP.second{
	padding-left: 0px;
	padding-top: 0px;
}

.mainBoxSemiColorHMP.second{
	width: 100%;
	height: 40%;
	min-height: 320px;
	background: rgba(0, 0, 0, .3);
}

.mainBoxDivHMP.third{
	padding-left: 0px;
	padding-top: 0px;
}

.mainBoxSemiColorHMP.third{
	width: 100%;
	height: 40%;
	min-height: 320px;
	background: rgba(0, 0, 0, .4);
}

.mainBoxSemiColorHMP > h2{
	color: #fafafa;
}

.textMutantHMP{
	color: #b3b3b3;
}

.mainBoxSemiColorHMP > p{
	color: #fafafa;
}

.featurette-divider.second {
	width:100%;
	margin: 80px auto 80px 
	auto;	
}

.teamHeaderHMP > p{
	text-align: center;
	margin-left: 3%;
	font-family: Helvetica;
	font-size: 60px;
	letter-spacing: 31px;
}

.row.teamContentsHMP > .col-md-6{
	
	margin-bottom: 80px;
}

.teamMemHeaderHMP{
	
	width: 70%;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
}

.teamMemHeaderHMP > img{
	margin-top: -20px;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.img-rounded{
	width: 140px;
	height: 140px;
}

.teamMemContentsHMP{
	
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	background-color: #333436;
}

.teamMemContentsHMP > h2{
	font-family: verdana;
	font-size: 30px;
	color: #d6d6d6;
	padding-top: 48px;
}

.teamMemContentsHMP > p{
	padding-top: 30px;
	padding-bottom: 100px;
	color: #0093b8;
	font-family: Helvetica;
	font-size: 18px;
	margin-right: 9%;
	margin-left: 9%;
}

.footer {
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.text-muted{
	width: 1160px;
	padding: 20px 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	color: #777;
}