{% extends "layout.html" %}

{% block contents %}
    <div class="llLogin">
        <div>
            {% if message %}
            <p>{{message}}</p>
            {% else %}
            <p>no message</p>
            {% endif %}
        </div>
        <div class="page-header">
            <h1>로그인
                <small>SNS 서비스를 통한 로그인</small>
            </h1>
        </div>
        <div class="bottomButtons">
            <a href="{{ url_for('login_google') }}">
                <div class="googleLoginBtn">
                    <span class="icon"></span>
                    <span class="buttonText">Sign in with Google</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}